body {
	background-image: url("pitch.jpeg");
	margin: 50px;
	border: 10px solid rgba(255, 255, 255); 
	padding: 20px;
	position: relative; 
  }
  
  body::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.6); 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1; 
	pointer-events: none; 
  }
  
	h1 {
		font-size: 95px;
		line-height: 40px;
		color: white;
		text-align:center;
		font-family: Arial;
		line-height: normal;
	}
	h3 {
		font-size:18px;
		margin-bottom: -20px;
		color: white;
		text-align:center;
		font-family: Arial, Helvetica, sans-serif;
		line-height: normal;
		opacity: 0.8;
		font-weight:lighter;
	}

	h2 {
		
		line-height: 40px;
		font-size: 59px;
		color: #0a8f01;
		text-align:center;
		font-family: Arial;
		line-height: 0%;
		margin-top: 35px;
		letter-spacing: 1px;
		
	}

	p{
		
		line-height: 60px;
		color: white;
		justify-content: right;

		font-family: Arial;

		font-size: 20px;
	}
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 30%;
		padding-top: 70px;
	  }

	.description-left {
		padding-right: 20px;
		font-family: Arial, Helvetica, sans-serif;
		color: white;
	}

	.vis-container {
		width: 100%;
	}
	.pure-g {
		margin-bottom: 40px;
	}
	
	p{
		padding-left: 50px;
		font-family: Arial, Helvetica, sans-serif;
		color: white;
		line-height: 25px;
		
	}
	

#main {

    display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 20px;
	margin: 10px;;

}

#map {
	
	justify-content: space-around;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	justify-content: center;

	
	padding-left: 20px;
	margin-top: -15px;
	
	
}

#heatmap {
	display: flex;
	justify-content: center;
	margin: -10px;

	font-family: Arial, Helvetica, sans-serif;

}

#sankey {
	display: flex;
	
	justify-content: space-around;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 80px;
	
	
  }
  

#top_scorer_bar {
	padding: 20px;
	justify-content: space-around;
	justify-content: center;
	margin: 20px;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
}

#line {
	padding: 20px;
	justify-content: left;

	display: flex;
	font-family: Arial, Helvetica, sans-serif;
}

#line_score {
	padding: 20px;
	justify-content: space-around;
	justify-content: center;
	margin: 20px;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
}

#penalty_line {
	padding: 20px;
	justify-content: space-around;
	justify-content: center;
	margin: 20px;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
}

#avg_score {
	padding: 20px;
	justify-content: space-around;
	justify-content: center;
	margin: 20px;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	
}

#combined_score {
	padding: 20px;
	justify-content: space-around;
	justify-content: center;
	margin: 20px;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	
}


#goal_scatter {
	
	justify-content: space-around;
	justify-content: center;

	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	
}


#goals_expected{
	

	margin-left: 50px;
	
	font-family: Arial, Helvetica, sans-serif;
}





span.vega-bind-name {
    color: white;
	padding-left: 100px;

}


